@page
@model IdentityService.Pages.Login.Index

<div class="login-page">
    

    <partial name="_ValidationSummary" />

    @* <div class="row"> *@

        @if (Model.View.EnableLocalLogin)
        {
           @* <div class="col-md-6 offset-3">
                 <div class="card">
                    <div class="card-header text-center">
                        <h2>Login to you account</h2>
                    </div>

                    <div class="card-body">
                        <form asp-page="/Account/Login/Index">
                            <input type="hidden" asp-for="Input.ReturnUrl" />

                            <div class="form-group">
                                <label asp-for="Input.Username"></label>
                                <input class="form-control" placeholder="Username" asp-for="Input.Username" autofocus>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input type="password" class="form-control" placeholder="Password" asp-for="Input.Password" autocomplete="off">
                            </div>
                            
                            @if (Model.View.AllowRememberLogin)
                            {
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" asp-for="Input.RememberLogin">
                                        <label class="form-check-label" asp-for="Input.RememberLogin">
                                            Remember My Login
                                        </label>
                                    </div>
                                </div>
                            }
                            <a class="pb-2 mb-2 d-block" asp-page="../Register/Register" asp-route-returnUrl="@Model.Input.ReturnUrl" >Register</a>
                            <button class="btn btn-primary" name="Input.Button" value="login">Login</button>
                            <button class="btn btn-secondary" name="Input.Button" value="cancel">Cancel</button>
                        </form>
                    </div>
                </div>
            </div> *@
            
 <section class="vh-75 mb-5">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block align-middle mt-5">
              <img src="/AuctionPic.png"
                alt="login form" class="img-fill h-75 w-100" 
       
       /> 
            </div>
            
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form asp-page="/Account/Login/Index">
                <input type="hidden" asp-for="Input.ReturnUrl" />

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3"></i>
                    <span class="h1 fw-bold mb-0"><svg width="80px" height="80px" viewBox="0 0 24 24" fill="none" 
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 8L5.72187 10.2682C5.90158 10.418 6.12811 10.5 6.36205 10.5H17.6379C17.8719 10.5 18.0984 10.418 18.2781 10.2682L21 8M6.5 14H6.51M17.5 14H17.51M8.16065 4.5H15.8394C16.5571 4.5 17.2198 4.88457 17.5758 5.50772L20.473 10.5777C20.8183 11.1821 21 11.8661 21 12.5623V18.5C21 19.0523 20.5523 19.5 20 19.5H19C18.4477 19.5 18 19.0523 18 18.5V17.5H6V18.5C6 19.0523 5.55228 19.5 5 19.5H4C3.44772 19.5 3 19.0523 3 18.5V12.5623C3 11.8661 3.18166 11.1821 3.52703 10.5777L6.42416 5.50772C6.78024 4.88457 7.44293 4.5 8.16065 4.5ZM7 14C7 14.2761 6.77614 14.5 6.5 14.5C6.22386 14.5 6 14.2761 6 14C6 13.7239 6.22386 13.5 6.5 13.5C6.77614 13.5 7 13.7239 7 14ZM18 14C18 14.2761 17.7761 14.5 17.5 14.5C17.2239 14.5 17 14.2761 17 14C17 13.7239 17.2239 13.5 17.5 13.5C17.7761 13.5 18 13.7239 18 14Z" stroke="#8B0000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg></span> <h1 class="text-gray-600 ms-6 text-3xl">Mazad Auctions</h1>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3">Sign into your account</h5>

                  
                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" asp-for="Input.Username" id="form2Example17" autofocus class="form-control form-control-lg"/>
                    <label class="form-label" for="form2Example17">User name</label>
                  </div>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="password" asp-for="Input.Password" id="form2Example27"class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example27">Password</label>
                  </div>

                  <div class="pt-1 mb-4">
                    <button  class="btn btn-dark btn-lg btn-block" type="submit" name="Input.Button" value="login">Login</button>
                  </div>
                  <div class="pt-1 mb-4">
                    <button  class="btn btn-outline-dark btn-lg btn-block" type="reset" name="Input.Button" value="cancel">Cancel</button>
                  </div>

                  <a class="small text-muted" href="#!">Forgot password?</a>
                  <p class="mb-5 pb-lg-2 text-blue-900">Don't have an account? <a asp-page="../Register/Register"
                    asp-route-returnUrl="@Model.Input.ReturnUrl"  class=" text-gray-900">Register here</a></p>
                 
                </form>
</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
</section>
        } 
       

        @* @if (Model.View.VisibleExternalProviders.Any())
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h2>External Account</h2>
                    </div>
                    <div class="card-body">
                        <ul class="list-inline">
                            @foreach (var provider in Model.View.VisibleExternalProviders)
                            {
                                <li class="list-inline-item">
                                    <a class="btn btn-secondary"
                                       asp-page="/ExternalLogin/Challenge"
                                       asp-route-scheme="@provider.AuthenticationScheme"
                                       asp-route-returnUrl="@Model.Input.ReturnUrl">
                                        @provider.DisplayName
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        } *@

        @if (!Model.View.EnableLocalLogin && !Model.View.VisibleExternalProviders.Any())
        {
            <div class="alert alert-warning">
                <strong>Invalid login request</strong>
                There are no login schemes configured for this request.
            </div>
        }
    </div>
</div>